ci:

  autofix_commit_msg: 'style: pre-commit fixes'
  autoupdate_commit_msg: 'chore: update pre-commit hooks'

repos:

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-yaml
    - id: check-toml
    - id: check-xml
    - id: debug-statements
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: mixed-line-ending
    # - id: requirements-txt-fixer
    - id: trailing-whitespace
    - id: fix-encoding-pragma
      args:
      - --remove
    # - id: name-tests-test
    #   args:
    #   - --pytest-test-first

- repo: https://github.com/python-poetry/poetry
  rev: 1.3.0
  hooks:
    - id: poetry-check
    - id: poetry-lock
- repo: https://github.com/seandstewart/pre-commit-poetry-export
  rev: f0501a85959a71c26b964d9542a78d1033af083e
  hooks:
    - id: export-requirements
    - id: export-requirements-dev

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    exclude: "tests"
    args:
    - --ignore-missing-imports
    files: ^(src/|tests/)

- repo: https://github.com/PyCQA/isort
  rev: 5.11.4
  hooks:
  - id: isort
    args: ["--profile", "black", "--filter-files"]

- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
  - id: black
    language_version: python3.10

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - args:
    - --py37-plus
    id: pyupgrade

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.4.1
  hooks:
  - id: remove-tabs

- repo: https://github.com/commitizen-tools/commitizen
  rev: v2.39.1
  hooks:
  - id: commitizen

- repo: https://github.com/pre-commit/mirrors-pylint
  rev: v3.0.0a5
  hooks:
  - id: pylint
    exclude: "tests"
    name: pylint
    args:
    - --good-names=i,j,_,e,f,k,v,_gather_Pr,get_pStyle,_format_Pr_into_html,Pr2val,k_,v_,collect_numFmts,numFmts_root,abstractNumId2numFmts,abstractNum,numFmt,numId,abstractNumIdval,collect_docProps,qn,Type,Target,numFmt2bullet_function,numId2numFmts,numId2count,pPr,numPr,n,l,abstractNumId,rId,officeDocument_runs,docProps,Id,ex,docProp2test,dc,get_checkBox_entry,checkBox,get_ddList_entry,ddList,do_pStyle,__numId2NumFmts,docProp2text
    - --disable=fixme
    - --disable=consider-using-with
    - --disable=no-member
    - --disable=too-many-instance-attributes
    - --disable=too-many-branches
    - --disable=too-many-statements
    - --disable=too-many-locals
    - --disable=too-few-public-methods
    - --disable=protected-access
    - --disable=c-extension-no-member
    - --disable=too-many-instance-attributes
    - --disable=duplicate-code
    - --disable=too-many-locals
    - --disable=import-error
    - --disable=too-many-arguments
    - --disable=broad-except
    - --disable=no-name-in-module
    - --load-plugins=pylint.extensions.docparams
    - --accept-no-param-doc=n
    - --accept-no-raise-doc=n
    - --accept-no-return-doc=n
    - --accept-no-yields-doc=n

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    exclude: "tests"
    args:
    - --max-line-length=88

# reads pyproject.toml for additional config
- repo: https://github.com/RobertCraigie/pyright-python
  rev: v1.1.290
  hooks:
    - id: pyright
